In [2]:
import numpy as np
import pandas as pd

In [3]:
# apply a function on 
def date_to_year(row):
    return int(row['date'].split('-')[0])

#
df = pd.read_csv('sbux.csv')

# axis - is need to operate on row-wise, by default applied on column-wise
df.apply(date_to_year, axis=1)

0       2013
1       2013
2       2013
3       2013
4       2013
        ...
1254    2018
1255    2018
1256    2018
1257    2018
1258    2018
Length: 1259, dtype: int64

In [5]:
df['year']= df.apply(date_to_year, axis=1)

In [6]:
df.head()

         date    open    high     low   close   volume  Name  year
0  2013-02-08  27.920  28.325  27.920  28.185  7146296  SBUX  2013
1  2013-02-11  28.260  28.260  27.930  28.070  5457354  SBUX  2013
2  2013-02-12  28.000  28.275  27.975  28.130  8665592  SBUX  2013
3  2013-02-13  28.230  28.230  27.750  27.915  7022056  SBUX  2013
4  2013-02-14  27.765  27.905  27.675  27.775  8899188  SBUX  2013